# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Matlab MAT files
*.mat
*.asv

# Image & Movie Files
*.png
*.jpg
*.eps
*.fig
*.avi
*.wav
*.mp4

# Microsoft Files
*.ppt
*.pptx
*.doc
*.docx
*.pdf
*.xlsx

# Other Files
*.rar
*.zip


# =========================
# Operating System Files
# =========================
